# Godot-specific cache and build files
.godot/
*.import/

# Exported binaries / build targets
/build/
*.exe
*.pck
*.apk
*.ipa
*.html
*.wasm

# OS / System junk
.DS_Store
Thumbs.db
desktop.ini

# debug footage
*.avi